{% extends 'index.html' %}
{% block contenido %}

<section id="seccion-contacto" class="border-bottom border-secondary border-2">
    
    <div id="bg-contactos">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1b2a4e" fill-opacity="1" d="M0,32L120,42.7C240,53,480,75,720,74.7C960,75,1200,53,1320,42.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>
  
  
  <!--========================================================== -->
                        <!-- CONTENEDOR DEL FORMULARIO -->
  <!--========================================================== -->
  
    <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
        <div class="text-center mb-4" id="titulo-formulario">
          <div><img src="./img/support.png" alt="" class="img-fluid ps-5"></div>
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          <h2>Mi perfil</h2>
          <p class="fs-5">Aca podras ver tu informacion</p>
        </div>
  
       
  
        <form action="">     
              <div class= "mb-3">           
                <input type="email" class="form-control" id="email" placeholder="pepitoperez@ejemplo.com">
              </div>
   
            
              <div class="mb-3">            
                <input type="input" class="form-control" id="nombre" placeholder="Adrian Sanchez">
              </div>
        
  
              <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Teléfono">
              </div>
  
             
            <div class="mb-3">
              <button type="button" class=" btn btn-primary w-100 fs-5">Editar informacion</button>
            </div>
        </form>
    
    </div>
  </section>
{% endblock %}