{% extends 'index.html' %}
{% block contenido %}
<div class="titulo">
    <h2>Productos</h2>
        <img src="../static/img/Jugo20de20Mora.png" height="250" width="450" id="jugo1"></div>
    <div><a href="" id="comprar">comprar</a>
    </div>
    <div id="descripcion"><p>la mora es buena para combatir la anemia por su contenido de hierro, que puede ayudar a mantener dientes y encías sanas cuando se consume en jugo sin azúcar y que igualmente el jugo de mora puede ayudar a ajar la fiebre por sus propiedades desinfectantes</p>
    </div>
    <div><img src="../static/img/descarga.png" height="250" width="450" id="jugo1">
    </div>
    <div><a href="" id="comprar">comprar</a>
    </div>
    <div id="descripcion"><p>Manila. Es el número uno en la lista de favoritos por los consumidores. Su dulce sabor y textura suave sin fibras hace que sean inigualables. Su color amarillo canario y la finura de la pulpa los hace ideales para postres</p>
    </div>

{% endblock %}